DBI
rJava
RJDBC
lubridate
Matrix
arules
arulesSequences
shiny
stringr
shinythemes
plotly
dplyr
base64
base64enc
colorspace
curl
d3heatmap
data.table
devtools
dichromat
digest
diptest
doParallel
doSNOW
evaluate
flexmix
foreach
formatR
Formula
fpc
gdata
getopt
ggplot2
git2r
gplots
graph
gridBase
gridExtra
gsubfn
gtable
gtools
hexbin
highr
Hmisc
htmlTable
htmltools
htmlwidgets
httpuv
httr
igraph
impute
IRanges
iterators
itertools
jsonlite
kernlab
knitr
labeling
latticeExtra
lazyeval
log4r
magrittr
mclust
memoise
mime
modeltools
munsell
mvtnorm
openssl
optparse
pkgmaker
rjson
RJSONIO
rmarkdown
